

.form-ui{
    width: 60%;
    height: 70px;
    background-color: #fff3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}


.input-container{
 

    display: flex;
    gap: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-form label{
    color: #fff;
    font-weight: 700;
}
.input-form input {
    width: 270px;
    padding: 5px;
    border-radius: 7px;
    border: none;
    outline: none;
}


.form-btn-ui{

    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #f90;
    color: #fff;
    cursor: pointer;
    outline: none;
}


.form-btn-ui:hover{
    background-color: #f90;
    width: 100px;
    height:30px;
    border: 1.5px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;

}